{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "bracketSameLine": false
}
